@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;

        --font-sans: 'Poppins', sans-serif;
    }

    .dark {
        /* Color Vars */
        --material-theme--sys--dark--primary: rgba(208, 188, 254, 1);
        --material-theme--sys--dark--surface-tint: rgba(208, 188, 255, 1);
        --material-theme--sys--dark--on-primary: rgba(56, 30, 114, 1);
        --material-theme--sys--dark--primary-container: rgba(79, 55, 139, 1);
        --material-theme--sys--dark--on-primary-container: rgba(234, 221, 255, 1);
        --material-theme--sys--dark--secondary: rgba(204, 194, 220, 1);
        --material-theme--sys--dark--on-secondary: rgba(51, 45, 65, 1);
        --material-theme--sys--dark--secondary-container: rgba(74, 68, 88, 1);
        --material-theme--sys--dark--on-secondary-container: rgba(232, 222, 248, 1);
        --material-theme--sys--dark--tertiary: rgba(239, 184, 200, 1);
        --material-theme--sys--dark--on-tertiary: rgba(73, 37, 50, 1);
        --material-theme--sys--dark--tertiary-container: rgba(99, 59, 72, 1);
        --material-theme--sys--dark--on-tertiary-container: rgba(255, 216, 228, 1);
        --material-theme--sys--dark--error: rgba(242, 184, 181, 1);
        --material-theme--sys--dark--on-error: rgba(96, 20, 16, 1);
        --material-theme--sys--dark--error-container: rgba(140, 29, 24, 1);
        --material-theme--sys--dark--on-error-container: rgba(249, 222, 220, 1);
        --material-theme--sys--dark--background: rgba(20, 18, 24, 1);
        --material-theme--sys--dark--on-background: rgba(230, 224, 233, 1);
        --material-theme--sys--dark--surface: rgba(20, 18, 24, 1);
        --material-theme--sys--dark--on-surface: rgba(230, 224, 233, 1);
        --material-theme--sys--dark--surface-variant: rgba(73, 69, 79, 1);
        --material-theme--sys--dark--on-surface-variant: rgba(202, 196, 208, 1);
        --material-theme--sys--dark--outline: rgba(147, 143, 153, 1);
        --material-theme--sys--dark--outline-variant: rgba(73, 69, 79, 1);
        --material-theme--sys--dark--shadow: rgba(0, 0, 0, 1);
        --material-theme--sys--dark--scrim: rgba(0, 0, 0, 1);
        --material-theme--sys--dark--inverse-surface: rgba(230, 224, 233, 1);
        --material-theme--sys--dark--inverse-on-surface: rgba(50, 47, 53, 1);
        --material-theme--sys--dark--inverse-primary: rgba(103, 80, 164, 1);
        --material-theme--sys--dark--primary-fixed: rgba(234, 221, 255, 1);
        --material-theme--sys--dark--on-primary-fixed: rgba(33, 0, 93, 1);
        --material-theme--sys--dark--primary-fixed-dim: rgba(208, 188, 255, 1);
        --material-theme--sys--dark--on-primary-fixed-variant: rgba(79, 55, 139, 1);
        --material-theme--sys--dark--secondary-fixed: rgba(232, 222, 248, 1);
        --material-theme--sys--dark--on-secondary-fixed: rgba(29, 25, 43, 1);
        --material-theme--sys--dark--secondary-fixed-dim: rgba(204, 194, 220, 1);
        --material-theme--sys--dark--on-secondary-fixed-variant: rgba(74, 68, 88, 1);
        --material-theme--sys--dark--tertiary-fixed: rgba(255, 216, 228, 1);
        --material-theme--sys--dark--on-tertiary-fixed: rgba(49, 17, 29, 1);
        --material-theme--sys--dark--tertiary-fixed-dim: rgba(239, 184, 200, 1);
        --material-theme--sys--dark--on-tertiary-fixed-variant: rgba(99, 59, 72, 1);
        --material-theme--sys--dark--surface-dim: rgba(20, 18, 24, 1);
        --material-theme--sys--dark--surface-bright: rgba(59, 56, 62, 1);
        --material-theme--sys--dark--surface-container-lowest: rgba(15, 13, 19, 1);
        --material-theme--sys--dark--surface-container-low: rgba(29, 27, 32, 1);
        --material-theme--sys--dark--surface-container: rgba(33, 31, 38, 1);
        --material-theme--sys--dark--surface-container-high: rgba(43, 41, 48, 1);
        --material-theme--sys--dark--surface-container-highest: rgba(54, 52, 59, 1);
        /* Color Vars */

        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }

    /* Typography styles */
    .text--display--large {
        font-size: 57px;
        font-weight: 400;
        letter-spacing: -0.25px;
        line-height: 64px;
    }
    .text--display--medium {
        font-size: 45px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 52px;
    }
    .text--display--small {
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 44px;
    }
    .text--headline--large {
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 40px;
    }
    .text--headline--medium {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 36px;
    }
    .text--headline--small {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 32px;
    }
    .text--body--large {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 24px;
    }
    .text--body--medium {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.25px;
        line-height: 20px;
    }
    .text--body--small {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 16px;
    }
    .text--label--large {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1px;
        line-height: 20px;
    }
    .text--label--medium {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 16px;
    }
    .text--label--small {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 16;
    }
    .text--title--large {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 28px;
    }
    .text--title--medium {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.15px;
        line-height: 24px;
    }
    .text--title--small {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 20px;
    }
}

@layer base {
    * {
        @apply box-border;
    }
    body {
        @apply bg-background text-onBackground;
        font-feature-settings: 'rlig' 1, 'calt' 1;
    }
}
